openapi: 3.0.3
info:
  title: CHHJ Partner Lead API
  description: >
    Endpoint for creating a new partner lead account and scheduling an outbound call for immediate follow-up during business hours.
    This API is used for real-time lead intake with immediate contact attempts. Partners who prefer not to trigger a call
    (e.g., if transferring a call live) can coordinate with the CHHJ team to set a no-call flag or plan alternate routing.
    All partners must complete integration testing using the training server (`https://training.api.chhj.com`)
    before being permitted to send data to the production server.
    Contact AppDev at CHHJ to obtain your `bearer token`, `referral_source`, `source`, and `subpartner_token`.
  version: "1.0.0"

servers:
  - url: https://training.api.chhj.com
    description: Training / Testing server
  - url: https://api.chhj.com
    description: Production server

paths:
  /rest/v1/partners/lead:
    post:
      summary: Create Partner Lead
      description: >
        Creates a new partner lead account and initiates an outbound call to the lead during normal business hours.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - first_name
                - last_name
                - phone
                - email
                - address
                - address2
                - city
                - state
                - postal
                - country
                - service_type
                - account_type
                - medium
                - referral_source
                - source
                - subpartner_token
              properties:
                first_name:
                  type: string
                  example: John
                last_name:
                  type: string
                  example: Doe
                phone:
                  type: string
                  description: Lead's phone number (digits only)
                  example: "5551234567"
                email:
                  type: string
                  format: email
                  example: john.doe@example.com
                address:
                  type: string
                  example: 11276 Cakeeater Rd
                address2:
                  type: string
                  description: Additional address info (e.g., Apt #)
                  example: Apt 4B
                city:
                  type: string
                  example: Barrow
                state:
                  type: string
                  description: State or province
                  example: AK
                postal:
                  type: string
                  description: Postal/ZIP code
                  example: "99723"
                country:
                  type: string
                  description: Country code (e.g., US)
                  example: US
                service_type:
                  type: integer
                  description: >
                    Type of service requested:
                    - `1` = Junk Removal
                    - `4` = General Labor Services
                    - `5` = Moving
                    - `7` = Move Labor/Packing
                  enum: [1, 4, 5, 7]
                  example: 1
                account_type:
                  type: integer
                  description: >
                    Type of account:
                    - `3` = Commercial
                    - `5` = Residential
                  enum: [3, 5]
                  example: 5
                medium:
                  type: string
                  description: Traffic medium (e.g., referral)
                  example: referral
                referral_source:
                  type: string
                  description: >
                    Internal referral source ID. Provided by the CHHJ team.
                    Corresponds to `Tbl_Campaign_Source.Source_ID`.
                  example: "104"
                source:
                  type: string
                  description: >
                    Source name. Provided by the CHHJ team.
                    Corresponds to `Tbl_Campaign_Source.SourceName`.
                  example: example.com
                subpartner_token:
                  type: string
                  description: >
                    Token used for sub-partner attribution. Provided by the CHHJ team.
                    Corresponds to `tbl_partner_sub_accounts.subpartner_token`.
                  example: 435E1AC
                content:
                  type: string
                  description: >
                    Unique identifier from the partner (e.g., client ID).
                    Returned in reporting to help with attribution and reconciliation.
                  example: partner-client-id-1234
                campaign:
                  type: string
                  description: Marketing campaign name
                  example: spring-special
                keyword:
                  type: string
                  description: Keyword used in UTM or tracking
                  example: junk removal
                notes:
                  type: string
                  description: Additional info for agents (e.g., special requests, service details)
                  example: Lead requested same-day service and has large appliances.
      responses:
        '200':
          description: Lead successfully created
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      account_id:
                        type: integer
                        example: 45678
                      location_id:
                        type: integer
                        example: 12345
                      series:
                        type: string
                        description: >
                          A unique identifier for the API request.
                          This can be shared with the CHHJ support team to assist with debugging or tracking specific requests.
                        example: SYIZDJ-79CE-TTJL0Q
        '400':
          description: Bad Request — Invalid or missing input
          content:
            application/json:
              example:
                meta:
                  series: "SYIZF5-7AS0-R1OH6A"
                  instance: "PRODUCTION-10.10.102.92"
                  status:
                    id: 400
                    code: 400
                    name: "Bad Request"
                    description: "This request is missing data or contains invalid information."
                  errors:
                    - type: "E_USER_ERROR"
                      message: "DATA input \"first_name\" was not set"
        '401':
          description: Unauthorized — Missing token
          content:
            application/json:
              example:
                meta:
                  series: "SYIZDJ-79CE-TTJL0Q"
                  instance: "PRODUCTION-10.10.102.92"
                  status:
                    id: 401
                    code: 401
                    name: "Unauthorized"
                    description: "This request requires the user to login."
                  errors:
                    - type: "E_USER_ERROR"
                      message: "Login Failed"
        '403':
          description: Forbidden — Invalid token supplied
          content:
            application/json:
              example:
                meta:
                  series: "SYJ04P-DX5R-MACIAP"
                  instance: "PRODUCTION-10.10.102.92"
                  status:
                    id: 403
                    code: 403
                    name: "Forbidden"
                    description: "The user does not have permission to perform this request."
                  errors:
                    - type: "E_USER_ERROR"
                      message: "Invalid token supplied"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: string
